.aside {
  padding: 15px;
  flex-shrink: 0;
  width: 220px;
  background: #f9f9fa;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid rgba(0,0,0,0.02);
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.navLink {
  color: inherit;
  text-decoration: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  &.active,
  &:hover {
    background-color: #ededf0;
  }
  &:hover {
    color: #0a84ff;
  }
  padding: 3px;
}

.header {
  color: #999;
  font-size: 0.9em;
  font-weight: bold;
  padding: 3px;
}

.spacer {
  padding: 8px;
}

.main {
  flex-grow: 1;
  overflow: auto;
}

.icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
.icon-calendar {
  background-image: url("../../img/icons/001-calendar.svg");
}
.icon-calendar2 {
  background-image: url("../../img/icons/calendar2.svg");
}

.icon-graph {
  background-image: url("../../img/icons/002-presentation.svg");
}
.icon-user {
  background-image: url("../../img/icons/003-user.svg");
}
.icon-inbox {
  background-image: url("../../img/icons/004-inbox.svg");
}
.icon-rgb {
  background-image: url("../../img/icons/rgb.svg");
}
.icon-alert {
  background-image: url("../../img/icons/alert.svg");
}
.icon-info {
  background-image: url("../../img/icons/info.svg");
}
.icon-warning {
  background-image: url("../../img/icons/warning.svg");
}
.icon-balloons {
  background-image: url("../../img/icons/balloons.svg");
}
