.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 40px;
}

.note {
  text-align: center;
}

.warning {
  background: #ff0039;
  padding: 3px 5px;
  color: white;
  border-radius: 3px;
  font-weight: bold;
}