.container {
  padding: 0 40px;
}


$tableBorderColor: rgba(0,0,0,0.1);
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  td {
    border-top: 1px solid $tableBorderColor;
    padding: 10px;
    &:first-child {
      box-shadow: inset 1px 0 $tableBorderColor;
      font-weight: bold;
    }
    &:last-child {
      box-shadow: inset -1px 0 $tableBorderColor;
      width: 100%;
    }
  }
  tr:last-child {
    border-bottom: 1px solid $tableBorderColor;
  }
}
