$tableBorderColor: rgba(0,0,0,0.1);
$monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

.bugTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  th {
    white-space: nowrap;
    font-weight: normal;
    text-align: left;
    padding: 10px;
  }

  .labels {
    th {
      color: var(--grey-50);
      border-radius: 0;
      background: var(--grey-10);
      font-size: 12px;
      font-weight: 500;

      &:first-child {
        box-shadow: inset 1px 0 $tableBorderColor;
      }
      &:last-child {
        box-shadow: inset -1px 0 $tableBorderColor;
      }
    }
  }

  .editor {
    th {
      padding: 15px 10px;
      color: white;
      background: #333;
      border-bottom: 2px solid black;
      &:first-child {
        border-radius: 3px 0 0;
      }
      &:last-child {
        border-radius: 0 3px 0;
      }
      &:first-child:last-child {
        border-radius: 3px 3px 0;
      }
    }
  }

  td {
    vertical-align: baseline;
    border-top: 1px solid $tableBorderColor;
    padding: 10px;
    &:first-child {
      box-shadow: inset 1px 0 $tableBorderColor;
    }
    &:last-child {
      box-shadow: inset -1px 0 $tableBorderColor;
    }
    &.summaryColumn {
      font-size: 14px;
    }
    &.idColumn {
      font-family: $monospace;
      font-weight: bold;
      width: 1%;
    }
  }
  tr:last-child {
    border-bottom: 1px solid $tableBorderColor;
  }
  a {
    text-decoration: none;
    color: #5594fb;
    &:hover {
      text-decoration: underline;
    }
  }
}


.resolved {
  color: rgba(0,0,0,0.3);
  a {
    color: inherit;
    text-decoration: line-through;
  }
  .tagList li {
    opacity: 0.3;
  }
}

.mine {
  font-weight: 600;
  a {
    font-weight: bold;
    color: #f05e75;
  }
}

.tagList {
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  li {
    font-size: 11px;
    background-color: var(--blue-40);
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 2px 5px;
    display: inline-block;
    font-family: $monospace;
    & + li {
      margin-left: 3px;
    }
  }
}

.bulkColumn {
  width: 1%;
}

.editorGroup {
  display: inline;
  &+.editorGroup {
    margin-left: 20px;
  }
}

.rightEditorGroup {
  float: right;
}
