.aside {
  padding: 25px 10px 10px;
  flex-shrink: 0;
  width: 180px;
  background: #f9f9fa;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid rgba(0,0,0,0.02);
  ul {
    list-style: none;
    padding: 0;
  }
}

.navLink {
  display: block;
  color: inherit;
  text-decoration: none;
  border-radius: 3px;
  &:hover {
    color: #0a84ff;
    background-color: #ededf0;
  }
  padding: 3px;
}

.main {
  padding-top: 25px;
  flex-grow: 1;
  overflow: auto;
}
