@import "../../styles/colors";

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 40px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  td {
    border-top: 1px solid $lightborder;
    padding: 10px;
    &:first-child {
      white-space: nowrap;
      box-shadow: inset 1px 0 $lightborder;
    }
    &:last-child {
      width: 100%;
      box-shadow: inset -1px 0 $lightborder;
    }
  }
  tr:last-child {
    border-bottom: 1px solid $lightborder;
  }
  input {
    width: 100%;
  }
}
