@import "../../styles/colors";

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 40px;
}

.list {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-inline: 1px solid $lightborder;

  .row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-top: 1px solid $lightborder;
    padding: 10px;

    &:last-child {
      border-bottom: 1px solid $lightborder;
    }
  }

  .col {
    &:first-child {
      white-space: nowrap;
      flex-grow: 1;
    }
  }
}
