.RSTable {
  min-width: 60%;
  margin: 0 auto;

  td {
    padding: .6em;
  }

  tbody tr {
    border-bottom: 1px solid #ddd;

    &:hover {
      background: #ddd;
    }
  }

  thead {
    font-size: 1.1em;
    font-weight: bold;
  }
}
