$tableBorderColor: rgba(0,0,0,0.1);
$monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

.bugTable {
  +.bugTable {
    margin-top: 20px;
  }
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  tr:last-child {
    border-bottom: 1px solid $tableBorderColor;
  }
}

.th {
  white-space: nowrap;
  font-weight: normal;
  text-align: left;
  padding: 10px;
}

.labels {
  &:first-child {
    .th {
      border-top: 1px solid $tableBorderColor;
    }
    .th:first-child {
      border-radius: 3px 0 0;
    }
    .th:last-child {
      border-radius: 0 3px 0 0;
    }
  }
  .th {
    padding: 6px 10px;
    color: var(--grey-50);
    border-radius: 0;
    background: var(--grey-10);
    font-size: 12px;
    font-weight: 500;

    &:first-child {
      box-shadow: inset 1px 0 $tableBorderColor;
    }
    &:last-child {
      box-shadow: inset -1px 0 $tableBorderColor;
    }
  }
}
.editor {
  .th {
    padding: 8px 10px;
    color: white;
    background: #333;
    border-bottom: 2px solid black;
    &:first-child {
      border-radius: 3px 0 0;
    }
    &:last-child {
      border-radius: 0 3px 0 0;
    }
    &:first-child:last-child {
      border-radius: 3px 3px 0;
    }
  }
}
.editorCompact {
  .th {
    padding: 6px 10px;
    background: var(--grey-10);
    border-top: 1px solid $tableBorderColor;
    border-bottom: 2px solid $tableBorderColor;
    &:first-child {
      border-radius: 3px 0 0;
      box-shadow: inset 1px 0 $tableBorderColor;
    }
    &:last-child {
      border-radius: 0 3px 0 0;
      box-shadow: inset -1px 0 $tableBorderColor;
    }
    &:first-child:last-child {
      border-radius: 3px 3px 0;
    }
  }

}



.td {
  vertical-align: baseline;
  border-top: 1px solid $tableBorderColor;
  padding: 10px;
  a {
    text-decoration: none;
    color: var(--blue-50);
    &:hover {
      text-decoration: underline;
    }
  }
  &:first-child {
    box-shadow: inset 1px 0 $tableBorderColor;
  }
  &:last-child {
    box-shadow: inset -1px 0 $tableBorderColor;
  }
  &.summaryColumn {
    font-size: 14px;
    a {
      color: inherit;
    }
  }
  &.idColumn {
    font-family: $monospace;
    font-size: 14px;
    width: 1%;
    white-space: nowrap;
    font-weight: bold;
    span:last-child {
      margin-left: 5px;
    }
  }
  &.last_change_timeColumn {
    white-space: nowrap;
  }
}

.resolved {
  color: rgba(0,0,0,0.3);
  a {
    color: inherit;
    text-decoration: line-through;
  }
  .tagList li {
    opacity: 0.3;
  }
}

.mine {
  font-weight: 600;
  // a {
  //   font-weight: bold;
  //   color: #f05e75;
  // }
}

.tagList {
  list-style: none;
  padding: 0;
  display: inline;
  margin-left: 5px;
  li {
    font-size: 11px;
    color: var(--blue-40);
    border: 1px solid;
    border-radius: 3px;
    padding: 2px 5px;
    display: inline-block;
    font-family: $monospace;
    & + li {
      margin-left: 3px;
    }
  }
}

.bulkColumn {
  width: 1%;
}

.editorGroup {
  display: inline;
  &+.editorGroup {
    margin-left: 20px;
  }
}

.editorType {
  display: flex;
  align-items: center;
  height: 20px;
}

.leftEditorGroup {
  flex-grow: 1;
}

.emptyState {
  text-align: center;
  font-size: 14px;
  background: var(--grey-20);
  padding: 10px;
  border-radius: 3px;
}

.statusLabel {
  font-size: 11px;
  font-weight: bold;
  color: white;
  background: var(--blue-40);
  border-radius: 3px;
  padding: 2px 5px;
  display: inline-block;
  font-family: $monospace;
  &.status-verified {
    color: white;
    border: 0;
    background-color: #00b58f;
  }
}
