.containerOpen {
  width: 250px;
  line-height: 1.4;
  @media(max-width: 1210px) {
    display: none;
  }

  transition: right 0.25s ease;
}

.containerClosed {
  width: 0px;
  line-height: 1.4;
  @media(max-width: 1210px) {
    display: none;
  }

  transition: right 0.25s ease;
}

.p1, .p2, .p3, .p4, .p5 {
  border: 1px solid;
  padding: 0 3px;
  border-radius: 3px;
  font-weight: bold;
}

.p1 {
  background: #45a1ff;
  border-color: #45a1ff;
  color: white;
}
.p2 {
  background: #9acdff;
  border-color: #9acdff;
  color: white;
}
.p3 {
  color: #45a1ff;
}
.p4 {
  color: #7e7e7e;
}
.p5 {
  color: #7e7e7e;
}

.sidebarToggle {
  position: absolute;
  padding-top: 40px;
  right: 10px;
  border: 0;
  background: none;
  height: 20px;

  @media(max-width: 1210px) {
    display: none;
  }
}

.active {
  background: #f9f9fa;
  padding: 20px;
  position: absolute;
  width: 250px;
  top: 0px;
  right: -250px;
  bottom: 0;

  transition: 0.25s ease;
  transform: translateX(-250px);
}

.inactive {
  background: #f9f9fa;
  padding: 20px;
  position: absolute;
  width: 250px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;

  transition: 0.25s ease;
  transform: translateX(250px);
}

.iconArrowhead {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin-right: 5px;
  background-image: url("../../img/icons/arrow-r-dark.svg");
}

.iconOverflow {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin-right: 5px;
  background-image: url("../../img/icons/arrow-l-dark.svg");
}

