.container {
  padding: 20px;
  width: 250px;
  line-height: 1.4;
  @media(max-width: 1210px) {
    display: none;
  }
}

.p1, .p2, .p3, .p4, .p5 {
  border: 1px solid;
  padding: 0 3px;
  border-radius: 3px;
  font-weight: bold;
}

.p1 {
  background: #45a1ff;
  border-color: #45a1ff;
  color: white;
}
.p2 {
  background: #9acdff;
  border-color: #9acdff;
  color: white;
}
.p3 {
  color: #45a1ff;
}
.p4 {
  color: #7e7e7e;
}
.p5 {
  color: #7e7e7e;
}

.sidebarToggle {
  position: absolute;
  right: 10px;
  border-radius: 5px;
  height: 15px;
}

.active {
  background: #f9f9fa;
  padding: 20px;
  position: absolute;
  width: 250px;
  top: 0px;
  right: 0;
  bottom: 0;

  -moz-transition: right 0.25s ease;
  transition: right 0.25s ease;
}

.inactive {
  background: #f9f9fa;
  padding: 20px;
  position: absolute;
  width: 250px;
  top: 0px;
  right: -250px;
  bottom: 0px;
  overflow: hidden;

  -moz-transition: right 0.25s ease;
  transition: right 0.25s ease;
}
