$tableBorderColor: rgba(0,0,0,0.1);
$monospace: Menlo, Monaco, 'Courier New', monospace;

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 40px;
}

.topContainer {
  text-align: center;
  margin-bottom: 20px;
}
.title {
  margin-bottom: 0;
  font-weight: 200;
  font-size: 38px;
}

.bugTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  td {
    border-top: 1px solid $tableBorderColor;
    padding: 10px;
    &:first-child {
      box-shadow: inset 1px 0 $tableBorderColor;
    }
    &:last-child {
      box-shadow: inset -1px 0 $tableBorderColor;
    }
  }
  th {
    padding: 15px;
    font-weight: normal;
    text-align: left;
    color: white;
    background: #333;
    border-bottom: 2px solid black;
    &:first-child {
      border-radius: 3px 0 0;
    }
    &:last-child {
      border-radius: 0 3px 0;
    }
  }
  tr:last-child {
    border-bottom: 1px solid $tableBorderColor;
  }
  a {
    text-decoration: none;
    color: #5594fb;
    &:hover {
      text-decoration: underline;
    }
  }
}

.bugNumber {
  font-family: $monospace;
}
.bugSummary {
  max-width: 500px;
}

.completionContainer {
  padding: 20px 0;
  text-align: center;
  color: #777;
  font-family: $monospace;
}
.completionBar {
  position: relative;
  height: 20px;
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  width: 500px;
  margin: 10px auto;
  overflow: hidden;
}
.resolvedLabel,
.assignedLabel{
  color: #5594fb;
}
.assignedLabel {
  font-size: 0.9em;
}
.colorBar {
  background: #5594fb;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
